<%- include("../partials/header") %>
<div class="row justify-content-center">
  <div class="col-md-12 text-center">
    <h1 style="text-align:center;">edit the entertainment info of <%= entertainment.name %></h1>
  </div>
  <div class="col-md-4">
        <form action="/entertainment/<%= entertainment._id %>?_method=PUT" method="POST"  enctype="multipart/form-data">
          <div class="form-group">
            <label for="formGroupExampleInput">entertainment info name</label>
              <input class="form-control" id="formGroupExampleInput" type="text" name="name" value="<%= entertainment.name %>">
          </div>
          <div class="form-group">
            <label for="inputCategory">Category</label>
            <select id="inputCategory" class="form-control" name="category"  value="<%= entertainment.Category %>">
              <option selected>Movie</option>
              <option>TV show</option>
              <option>Music</option>
              <option>Sport</option>
            </select>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">entertainment price</label>
              <input class="form-control" id="formGroupExampleInput" type="number" name="price" value="<%= entertainment.price%>" min="0.01" step="0.01">
          </div>
          <!-- <div class="form-group">
           <label for="formGroupExampleInput2">entertainment image</label>
              <input class="form-control" id="formGroupExampleInput" type="file" name="image" value="<%= entertainment.image %>">
          </div>    -->
          <div class="form-group">
           <label for="formGroupExampleInput3">entertainment description</label>
              <textarea class="form-control" id="formGroupExampleInput" type="text" rows="5" name="description"><%= entertainment.description %></textarea>
          </div>   
          <div class="mb-3">
            <div class="form-file custom-file">
                <input type="file" class="form-file-input" id="image" name="files" multiple>
                <label class="form-file-label" for="image">
                    <span class="form-file-text custom-file-label">Add more image(s)...</span>
                    <span class="form-file-button">Browse</span>
                </label>
            </div>
        </div>
        <div class="mb-3">
          <% entertainment.files.forEach(function(img, i) {  %>

          <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
          <div class="form-check-inline">
              <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
          </div>
          <label for="image-<%=i%>">Delete?</label>
          <% }) %>
      </div>
          <div class="form-group">
            <button style="margin:20px auto;" type="submit" class="btn btn-success btn-block">update entertainment</button>
          </div> 
          <div class="d-flex justify-content-center">
          <a style="text-allign: center;" href="/entertainment/<%= entertainment._id %>">go back</a>
        </div>
        </form>
  </div> 
</div> 
<%- include("../partials/footer") %>

